
.box1 {
    width: 800px;
    border-width: thin;
    text-align: center;
    border-style: double;
    border-color: rgb(8, 104, 72);
    border-radius: 15px;
    }
    .box2 {
        width: 800px;
        border-width: thin;
        text-align: center;
        border-style: double;
        border-color: rgb(8, 104, 72);;
        border-radius: 15px;
        }
    .box3 {
        width: 800px;
        text-align: center;
        background: linear-gradient(to bottom, rgb(99, 107, 136),white);
        border-radius: 15px;
    }    
        